{% extends 'base.html.twig' %}

{% block title %}Banco Residente{% endblock %}

{% block body %}
<section class="bg-gray-900 text-white">
  <div class="max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 mx-auto bg-gray-800 mt-10">
    <div class="block">
      <h2 class="text-3xl font-bold sm:text-4xl">Bem vindo ao Banco Residente</h2>

      <p class="mt-4 text-gray-300">
        Um banco com produtos exclusivos para você Residente.
      </p>
      <br />

      {% include 'menu.html.twig' %}
      
    </div>

    {% for notice in app.flashes('notice') %}
        <div id='mensagem' class='p-5 border-1-solid bg-green-300 rounded mt-8 text-gray-900'>{{ notice }}</div>
    {% endfor %} 
    {% if app.user %}
      {% if "ROLE_ADMIN" in app.user.getRoles() %}

           
      <script>
      document.addEventListener("click", fechaMensagem);

      function fechaMensagem(){
        x = document.getElementById("mensagem");
        x.style.display = "none";
      }
      </script>
      {% endif %}
    {% else %}
    <div
      class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3"
    >
      {% if agencias|length > 0 %}
      {% for agencia in agencias %}
      <div class="flex items-start">
        <span class="flex-shrink-0 rounded-lg bg-gray-800 p-4">
          <span class="mdi mdi-bank"></span>
        </span>

        <div class="ml-4">
          <h2 class="text-lg font-bold">{{ agencia.nome }} - {{ agencia.numero }}</h2>

          <p class="mt-1 text-sm text-gray-300">
            Endereço: {{ agencia.logradouro }}, {{ agencia.numeroEndereco }}, {{ agencia.complemento }}, {{ agencia.cidade }}, {{ agencia.bairro }} - {{ agencia.uf }}
            <br/>
            Telefone: {{ agencia.telefone }}
            <br/>
            Gerente: {{ agencia.gerente.nome }}
          </p>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}
