{% extends 'base.html.twig' %}

{% block title %}Banco Residente{% endblock %}

{% block body %}
<section class="bg-gray-900 text-white">
  <div class="max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 mx-auto bg-gray-800 mt-10">
    <div class="block">
      <h2 class="text-3xl font-bold sm:text-4xl">Bem vindo ao Banco Residente</h2>

      <p class="mt-4 text-gray-300">
        Um banco com produtos exclusivos para você Residente.
      </p>
      <br />

      {% include 'menu.html.twig' %}
      
    </div>


    <nav aria-label="Breadcrumb" class='mt-8'>
      <ol role="list" class="flex items-center gap-1 text-sm text-white-600">
        <li>
          <a href="{{ path('app_index') }}" class="block transition hover:text-yellow-400">
                       <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
              />
            </svg>
          </a>
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </li>
        
        <li>
          <a href="{{ path('app_admin_contas_listar') }}" class="block transition hover:text-yellow-400"> Contas</a>
        </li>

        
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </li>

        <li>
          <span class="block transition text-yellow-400"> Listar </span>
        </li>
      </ol>
    </nav>


    <div class="overflow-x-auto mt-8">

      {% if contas|length > 0 %}
      <table class="min-w-full divide-y divide-gray-200 text-sm">
        <thead class="bg-indigo-600">
          <tr>
            <th
              class="whitespace-nowrap px-4 py-4 text-left font-medium text-white-900"
            >
              Agência
            </th>
            <th
              class="whitespace-nowrap px-4 py-4 text-left font-medium text-white-900"
            >
              Número
            </th>
            <th
              class="whitespace-nowrap px-4 py-4 text-left font-medium text-white-900"
            >
              Tipo de conta
            </th>
            <th
              class="whitespace-nowrap px-4 py-4 text-left font-medium text-white-900"
            >
              Cliente
            </th>
            <th
              class="whitespace-nowrap px-4 py-4 text-left font-medium text-white-900"
            >
              Situação
            </th>
            <th
              class="whitespace-nowrap px-4 py-4 text-left font-medium text-white-900"
            >
              Saldo
            </th>
            
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200 bg-gray-100">
          {% for conta in contas %}
          <tr>
            <td class="whitespace-nowrap px-4 py-4  font-medium text-gray-900">
              {{ conta.agencia.nome }}
            </td>
            <td class="whitespace-nowrap px-4 py-4 text-gray-700">{{ conta.id }}</td>
            <td class="whitespace-nowrap px-4 py-4 text-gray-700">{{ conta.getContasTipos.tipo }}</td>
            <td class="whitespace-nowrap px-4 py-4 text-gray-700">{{ conta.correntista.nome }}<br />
            {{ conta.correntista.email }}
            </td>
            {% if conta.getDataHoraAprovacao %}

            <td class="whitespace-nowrap px-4 py-4 text-gray-700">{{ conta.getGerenteAprovacao().nome }}<br />{{ conta.getDataHoraAprovacao|date("d/m/Y H:i:s") }}</td>
            {% else %}
            <td class="whitespace-nowrap px-4 py-4 text-gray-700">-</td>
            
            {% endif %}
            <td class="whitespace-nowrap px-4 py-4 text-gray-700">R$ {{ conta.saldo|number_format(2, ',', '.') }}</td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <p>Nenhuma conta cadastrada.</p>
      {% endif %}
    </div>

  </div>
</section>
<script>function showTooltip(flag) {
  switch (flag) {
    case 1:
      document.getElementById("tooltip1").classList.remove("hidden");
      break;
    
  }
}
function hideTooltip(flag) {
  switch (flag) {
    case 1:
      document.getElementById("tooltip1").classList.add("hidden");
      break;
  
  }
}
</script>
{% endblock %}

